# Lists, Tuples, Dict and Numpy

### Q1. Select Random from Lists

In [2]:
mylist = [2,4,6,8,10]

In [3]:
import random

In [9]:
random.choice(mylist)

6

### Q2:. Write a Python program to count the elements in a list until an element is a tuple

In [15]:
myotherlist = ["1",2,3,4,5,(2,3,4,"tuple"),"notuple"]

In [17]:
count =0
for item in myotherlist:
    if not isinstance(item,tuple):
        count += 1
    else:
        break

count

5

### Q3: Create a dictionary of 5 countries with their currency details and display them

In [23]:
country = {
    "India": "INR",
    "USA": "USD",
    "CANADA": "Canadian $",
    "JAPAN":"Yen",
    "Europe": "Euro"
}

for k,v in country.items():
    print(f"{v} is the currency of {k}")

INR is the currency of India
USD is the currency of USA
Canadian $ is the currency of CANADA
Yen is the currency of JAPAN
Euro is the currency of Europe

### Q4: Write a Python program to reverse a tuple

In [24]:
mytuple = ("Hello", "World", "Is", "This")

In [38]:
converted_list = list(mytuple)
converted_list.reverse()
new_tuple = tuple(converted_list)
new_tuple

('This', 'Is', 'World', 'Hello')

## Numpy Questions

### Q5: Create a Numpy array filled with all ones

In [39]:
import numpy as np

In [42]:
all_one = np.empty(10,dtype=int)
all_one.fill(1)
all_one

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

### Q6: Check whether a Numpy array contains a specified row

In [58]:
multi_array = np.array([[1,2,3],[3,4,5],[5,6,7]])
specified_row = [1,2,3]
# specified_row = [1,2,4]

In [59]:
if specified_row in multi_array.tolist():
    print("Yup")
else: print("Nope")

Yup

### Q7: Compute mathematical operations on Array, Add & Multiply two matrices

In [61]:
m1 = np.array([[2,0],[0,2]],dtype=float)
m2 = np.array([[5,3],[10,34]],dtype=float)

In [66]:
m3 = m1 * m2
m4 = m1 + m2
print(f"Multiplication is\n {m3}")
print(f"\n\nAddition is\n {m4}")

Multiplication is
 [[10.  0.]
 [ 0. 68.]]


Addition is
 [[ 7.  3.]
 [10. 36.]]

### Q8: Find the most frequent value in a NumPy array

In [74]:
np_array = np.array([2,3,4,5,6,66,6,6,6,6,6,6,6,6,6,6,6,6,6,6,4,4,4,4,2,2,2,2,0,2,3,4,5,5,1])
np.bincount(np_array).argmax()

6

### Q9: Flatten a 2d numpy array into ld array

In [75]:
np_arr = np.array([[2,3,4,6],[2,3,4,6]])
np_arr.flatten()

array([2, 3, 4, 6, 2, 3, 4, 6])