## Q1: Name and Surname

In [10]:
name = input("First Name: ")
surn = input("Last Name: ")

print("That means your name is",name, surn) # print

First Name: Sujal
Last Name: Choudhri
That means your name is Sujal Choudhri

## Q2: Polynomial

In [11]:
x = 2.55
3*x**3-5*x**2+6

23.231625

## Q3: Middle 3

In [15]:
x = input("Enter String: ")
mid = len(x) //2
x[mid-1:mid+2]

Enter String: Hello

'ell'

## Q4: Lowercase First

In [43]:
x = "PyThOn"
"".join(sorted(x,reverse=True))

'ynhTPO'

## Q5: Count Letters and Numbers and Specials

In [69]:
x = input("Given String")
char_count = 0
num_count = 0
special_count = 0
for char in x:
    if(char >= 'a' and char <= 'z'): char_count +=1
    elif(char.isnumeric()): num_count +=1
    else: special_count += 1

Given String7463cvb

In [70]:
char_count, num_count, special_count

(3, 4, 0)

## Q6: All the Occurences

In [38]:
x = input("All the occurences of")
d = {}

for char in x:
    if char not in d:
        d[char] = 1
    else:
        d[char] += 1
        
d

All the occurences ofqqqqqqqqqqqqqqqaaa

{'q': 15, 'a': 3}

## Q7: Last Position of Rama

In [51]:
x = "Rama re Rama"

x.rindex("Rama")

8

## Q8: Remove all characters excpt numbers

In [64]:
x = "this has numbers 1a2b3c fgdfg"

y = ""

for c in x:
    if c.isnumeric():
        y += c
        
        
y

'123'

## Q9: Replace special with #

In [83]:
x = "hjdfs jhh&^&^%^&%hbjhhb!53256"
y = ""

In [84]:
for c in x:
    if c.upper() == c.lower() and not c.isnumeric():
        y += "#"
    else:
        y += c

In [85]:
y

'hjdfs#jhh########hbjhhb#53256'

## Q10: Replace blank with - in Sentence

In [87]:
x = "Hello this is my test"
x = x.replace(" ","-")
x

'Hello-this-is-my-test'