### Sujal Choudhari         
#### 60003220216
### IT3 (2)                 
#### Python Programming Lab (7)

In [1]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv("./practical.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

Q1: How many men and women (sex feature) are represented in this dataset?

In [3]:
df.gender.value_counts()

gender
Male      32650
Female    16192
Name: count, dtype: int64

Q2: 2. What is the average age (age feature) of women?

In [4]:
df_women_mask = df["gender"] == "Female"

only_females = df[df_women_mask]
only_females["gender"].value_counts()
print(f"Average women age was: {only_females.age.mean()} years")
# only_females

Average women age was: 36.92798913043478 years

Q3: What is the percentage of German citizens (native-country feature)?

In [5]:
german_mask = df["native-country"] == "Germany"
german_count = len(df[german_mask])  / len(df) * 100
print(f"Percent is {german_count}%")

Percent is 0.421768150362393%

Q4: What are the mean and standard deviation of age for those who earn more than 50K per
year (salary feature) and those who earn less than 50K per year?

In [6]:
crazy_rich_mask = df.income == ">50K"
poor_mask = df.income == "<=50K"

print(f"Rich: Mean:{df[crazy_rich_mask].age.mean()} Std is: {df[crazy_rich_mask].age.std()}")
print(f"Poor: Mean:{df[poor_mask].age.mean()} Std is: {df[poor_mask].age.std()}")

Rich: Mean:44.275177547702576 Std is: 10.55898337028787
Poor: Mean:36.87218409366169 Std is: 14.104118026101544

Q5: Is it true that people who earn more than 50K have at least high school education?
(education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc,
Masters or Doctorate feature)

In [9]:
educated_mask = df["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])
educated_rich = df[crazy_rich_mask & educated_mask]

print(f"It is '{len(educated_rich) / len(df[crazy_rich_mask]) == 1}' that people who earn more than 50K have at least high school education?")
print(f"Educated Population of Rich: {len(educated_rich) / len(df[crazy_rich_mask]) * 100}%")

It is 'False' that people who earn more than 50K have at least high school education?
Educated Population of Rich: 57.79926413964234%

Q6: Display age statistics for each race (race feature) and each gender (sex feature). 
Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [17]:
race_wise_classification = df.groupby(["race"])
race_wise_classification.describe()

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    470.0  36.693617  12.155871  17.0  28.0  35.0  44.0
Asian-Pac-Islander   1519.0  37.858460  12.854988  17.0  28.0  36.0  45.0
Black                4685.0  37.914408  12.888213  17.0  28.0  36.0  46.0
Other                 406.0  33.657635  11.736764  17.0  25.0  31.0  41.0
White               41762.0  38.824362  13.849726  17.0  28.0  37.0  48.0

                           fnlwgt                 ... capital-loss          \
                     max    count           mean  ...          75%     max
race                                              ...
Amer-Indian-Eskimo  82.0    470.0  120110.985106  ...          0.0  2163.0
Asian-Pac-Islander  90.0   1519.0  159796.946675  ...          0.0  2457.0
Black               90.0   4685.0  230485.070438  ...          0.0  4356.0
Other               77.0    406.0  195715.689655  ...          0.0  2415.0
White               90.0  41762.0  186894.995738  ...          0.0  4356.0

                   hours-per-week                                          \
                            count       mean        std  min    25%   50%
race
Amer-Indian-Eskimo          470.0  40.272340  11.975022  3.0  40.00  40.0
Asian-Pac-Islander         1519.0  39.884793  12.481418  1.0  40.00  40.0
Black                      4685.0  38.597866  10.345612  1.0  38.00  40.0
Other                       406.0  39.201970  10.751450  5.0  35.25  40.0
White                     41762.0  40.660170  12.598627  1.0  40.00  40.0


                     75%   max
race
Amer-Indian-Eskimo  40.0  96.0
Asian-Pac-Islander  40.0  99.0
Black               40.0  99.0
Other               40.0  98.0
White               45.0  99.0

[5 rows x 48 columns]

In [30]:
race_gender_wise_classification = df.groupby(["race","gender"])
amer_indian_male_group = race_gender_wise_classification.get_group(("Amer-Indian-Eskimo","Male"))
print(f"Max age is {amer_indian_male_group['age'].max()} years")

Max age is 82

Q7: Among whom is the proportion of those who earn a lot (>50K) greater: married or single   
men (marital-status feature)? Consider as married those who have a marital-status starting   
with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [50]:
married_people = df["marital-status"].isin(["Married-civ-spouse","Married-spouse-absent","Married-AF-spouse"])
man_people = df["gender"] == "Male"
married_man = df[married_people & man_people]
unmarried_man = df[~married_people & man_people]

rich_married_man = married_man[married_man["income"] == ">50K"]
rich_unmarried_man = unmarried_man[unmarried_man["income"] != ">50K"]

print(f"Out of {len(married_man)} only {len(rich_married_man)} have income >50K: {len(rich_married_man)/len(married_man) * 100}%")
print(f"Out of {len(unmarried_man)} only {len(rich_unmarried_man)} have income >50K: {len(rich_unmarried_man)/len(unmarried_man) * 100}%")
print("Among whom is the proportion of those unmarried earn a lot (>50K) greater")

Out of 20235 only 8917 have income >50K: 44.067210279219175%
Out of 12415 only 11414 have income >50K: 91.93717277486911%
Among whom is the proportion of those unmarried earn a lot (>50K) greater

Q8: What is the maximum number of hours a person works per week (hours-per-week feature)?

In [55]:
print(f'Max hours per week is {df["hours-per-week"].max()} hrs')

Max hours per week is 99 hrs

Q9: How many people work such a number of hours, and what is the percentage of those who 
earn a lot (>50K) among them

In [61]:
workoholics = df[df["hours-per-week"] == df["hours-per-week"].max()]

print(f"{len(workoholics)} people work for maximum amount of time")

good_earners = workoholics[workoholics["income"] == ">50K"]

print(f"{len(good_earners) / len(workoholics) * 100} of them earn >50K")

137 people work for maximum amount of time
29.927007299270077 of them earn >50K

Q 10: Count the average time of work (hours-per-week) for those who earn a little and a lot  
(salary) for each country (native-country). What will these be for Japan?

In [85]:
grouped_by_income_by_country = df.groupby(["native-country","income"])
grouped_by_income_by_country["hours-per-week"].mean().unstack()

income                          <=50K       >50K
native-country
?                           39.552590  45.318182
Cambodia                    41.157895  43.888889
Canada                      37.378151  46.126984
China                       36.686047  42.027778
Columbia                    39.123457  56.250000
Cuba                        39.201923  42.852941
Dominican-Republic          41.561224  42.800000
Ecuador                     37.948718  47.833333
El-Salvador                 35.819444  43.454545
England                     39.375000  46.297872
France                      40.090909  46.500000
Germany                     38.898649  45.706897
Greece                      41.870968  55.555556
Guatemala                   38.788235  36.666667
Haiti                       36.409091  40.666667
Holand-Netherlands          40.000000        NaN
Honduras                    34.055556  50.000000
Hong                        39.000000  43.750000
Hungary                     34.076923  46.333333
India                       38.044944  46.274194
Iran                        39.972973  47.954545
Ireland                     41.269231  45.181818
Italy                       38.690141  45.647059
Jamaica                     38.626374  42.400000
Japan                       39.733333  47.062500
Laos                        39.333333  40.000000
Mexico                      39.931416  45.638298
Nicaragua                   36.847826  38.333333
Outlying-US(Guam-USVI-etc)  41.409091  40.000000
Peru                        36.214286  40.000000
Philippines                 38.014286  43.588235
Poland                      37.228571  39.588235
Portugal                    41.254545  46.750000
Puerto-Rico                 38.908537  39.900000
Scotland                    40.833333  46.666667
South                       41.052632  51.400000
Taiwan                      35.307692  45.538462
Thailand                    43.040000  53.000000
Trinadad&Tobago             38.800000  40.000000
United-States               38.817189  45.471853
Vietnam                     37.848101  39.428571
Yugoslavia                  38.533333  43.375000

In [88]:
rich_japan_grp = grouped_by_income_by_country.get_group(("Japan",">50K"))
non_rich_japan_grp = grouped_by_income_by_country.get_group(("Japan","<=50K"))
print(f'Avg. Hours per week of rich Japan: {rich_japan_grp["hours-per-week"].mean()}')

Hours per week of rich Japan: 47.0625

In [89]:
print(f'Avg. Hours per week of poor Japan: {non_rich_japan_grp["hours-per-week"].mean()}')

Avg. Hours per week of poor Japan: 39.733333333333334