In [18]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [31]:
df = pd.read_csv("./practical.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

Q1: How many men and women (sex feature) are represented in this dataset?

In [32]:
df.gender.value_counts()

gender
Male      32650
Female    16192
Name: count, dtype: int64

Q2: 2. What is the average age (age feature) of women?

In [30]:
df_women_mask = df["gender"] == "Female"

only_females = df[df_women_mask]
only_females["gender"].value_counts()
print(f"Average women age was: {only_females.age.mean()} years")
# only_females

Average women age was: 36.92798913043478 years

Q3: What is the percentage of German citizens (native-country feature)?

In [45]:
german_mask = df["native-country"] == "Germany"
german_count = len(df[german_mask])  / len(df) * 100
print(f"Percent is {german_count}%")

Percent is 0.421768150362393%

Q4: What are the mean and standard deviation of age for those who earn more than 50K per
year (salary feature) and those who earn less than 50K per year?

In [58]:
crazy_rich_mask = df.income == ">50K"
poor_mask = df.income == "<=50K"

print(f"Rich: Mean:{df[crazy_rich_mask].age.mean()} Std is: {df[crazy_rich_mask].age.std()}")
print(f"Poor: Mean:{df[poor_mask].age.mean()} Std is: {df[poor_mask].age.std()}")

Rich: Mean:44.275177547702576 Std is: 10.55898337028787
Poor: Mean:36.87218409366169 Std is: 14.104118026101544

Q5: Is it true that people who earn more than 50K have at least high school education?
(education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc,
Masters or Doctorate feature)

In [76]:
educated_mask = df["education"].isin(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])
educated_rich = df[crazy_rich_mask & educated_mask]
educated_poor = df[poor_mask & educated_mask]

print(f"It is {len(educated_rich) / len(df[crazy_rich_mask]) < len(educated_poor) / len(poor_mask)} that people who earn more than 50K have at least high school education?")
print(f"Educated Population of Rich: {len(educated_rich) / len(df[crazy_rich_mask]) * 100}%, Educated Population of Poor: {len(educated_poor) / len(poor_mask)* 100}%")

It is False that people who earn more than 50K have at least high school education?
Educated Population of Rich: 57.79926413964234%, Educated Population of Poor: 18.461569960280087%